.footer-sect{
    background-color: #171E26;
    padding: 100px 120px;
    &__main{
        display: flex;
        column-gap:115px;
       
        margin-bottom: 120px;
        &_info{
            display: flex;
            flex-direction: column;
            width: 365px;
            &_logo{
                margin-bottom: 32px;
            }
            &_tel, &_email, &_address{
                display: flex;
                column-gap:12px;
                text-decoration: none;
                color:#919294;
                font-family: 'Sequel',sans-serif;
                font-size: 14px;
                transition: 0.3s all;
                &:hover{
                    transition: 0.3s all;
                    opacity: 0.7;
                }
            }
            &_tel, &_email{
                margin-bottom: 8px;
            }
            &_links{
                margin-bottom: 48px;
            }
            &_text{
                font-family: 'Sequel',sans-serif;
                font-size: 14px;
                color:#919294;
                line-height: 22px;
            }
        }
        &_links{
            display: flex;
            gap:85px;
            &_list{
                list-style-type: none;
                li{
                    margin-bottom: 27px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        color:#919294;
                        text-decoration: none;
                        font-family: 'Sequel',sans-serif;
                        font-size: 14px;
                        transition: 0.3s all;
                        &:hover{
                            transition: 0.3s all;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    &__bottom{
        position: relative;
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        &::before{
            @include line_for(1%, 100%, #dbdddf3c, 1px, 0, 0, 0);
        }
        &_socials{
            display: flex;
            flex-wrap: wrap;
            align-items:center;

            gap:8px;
            &_item{
                padding: 14px;
                border: 1px solid #dbdddf3c;
                border-radius: 40px;
                display: flex;
                align-items:center;
                justify-content: center;
            }
        }
        &_copyright{
            font-family: 'Sequel',sans-serif;
            font-size: 14px;
            color:#919294;
            display: inline-flex;
            gap: 5px;
            span{
                color:white;
            }
        }
    }
}