.top-menu{
    min-height: 116px;
    width: 100%;
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        
        &_logo{
            margin-left:40px;
        }
        &-panel{
            display: flex;
            background-color:#1F487C;
            height: 116px;
            width: 116px;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            cursor: pointer;
            span{
                width: 24px;
                height: 1px;
                background-color:white;
                margin-bottom: 7px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
       
    }
}