.top-menu{
    min-height: 116px;
    width: 100%;
    padding-left: 50px;
    transition: 0.3s all;
    &.show{
        background-color: #1F487C;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        &_logo{
            margin-left:40px;
            transition: 0.3s all;
            &.hide{
                display: none;
                transition: 0.3s all;
            }
        }
        &-panel{
            display: flex;
            background-color:#1F487C;
            height: 116px;
            width: 116px;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            cursor: pointer;
            span{
                transition: 0.3s all;
                width: 24px;
                height: 2px;
                background-color:white;
                margin-bottom: 7px;
                &:last-child{
                    margin-bottom: 0;
                    height: 2px;
                }   
            }
            &.active{
      
                span{
                  transition: 0.6s all;
                  &:nth-child(1){
                    transform: rotate(45deg) translateY(6px) translateX(6px);
                  
                  }
                  &:nth-child(2){
                    display: none;
                  }
                  &:nth-child(3){
                   
                    transform: rotate(-45deg) translateX(0) translateY(0);
                  }
                }
              }
        }
        &_contacts{
            display:flex;
            column-gap: 48px;
            display: none;
            transition: 0.3s all;
            &_block{
                display: flex;
                column-gap:16px;
                font-family: 'Sequel', sans-serif;
                font-size: 16px;
                align-items:center;
                justify-content: center;
                &_label{
                    position: relative;
                    color: #ffffff75;
                    &::after{
                        @include line_contact;
                        margin:0 16px;
                    }
                    margin-right:16px ;
                }
                &_tel, &_email{
                    font-size: 14px;
                    text-decoration: none;
                    color: white;
                    transition: 0.3s all;
                    &:hover{
                        opacity: .5;
                        transition: 0.3s all;
                    }
                }
            }
            &.show{
                display: flex;
            }
        }
        
       
    }
}